{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_title %}Results {{ batch.name }}{% endblock %}

{% block page_actions %}
    <div class="global-actions">
        <input type=button value="Copy to Clipboard" class="action-new btn btn-primary" onClick="copytable('results')">
    </div>

    <script type="text/javascript">
        function copytable(el) {
            var urlField = document.getElementById(el)
            var range = document.createRange()
            range.selectNode(urlField)
            window.getSelection().addRange(range)
            document.execCommand('copy')
        }
    </script>
{% endblock %}

{% block main %}
    <style>
        .unselectable {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select:none;
            user-select: none;
        }
    </style>

    {% set total = batch.tasks.count %}
    <div class="progress">
        {% set percentage = success / total * 100 %}
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ percentage }}%" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">
            {{ percentage|round(1, 'ceil') }}%
        </div>
        {% set percentage = failure / total * 100 %}
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentage }}%" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">
            {{ percentage|round(1, 'ceil') }}%
        </div>
    </div>

    <br>
    {% set firstTask = batch.tasks[0] %}
    <table class="table" id="results">
        <thead>
        <tr>
            <th class="unselectable">Id</th>
            {% for key,value in firstTask.data %}
                <th>{{ key }}</th>
            {% endfor %}
            <th class="unselectable">Status</th>
            {% for key,value in firstTask.resultParsed %}
                <th>{{ key }}</th>
            {% else %}
                <th>Result</th>
            {% endfor %}
            <th class="unselectable"></th>
            {% if firstTask.next  %}
                <th class="unselectable">Status</th>
                <th>Result</th>
                <th class="unselectable"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for task in batch.tasks %}
            {% if not task.previous %}
                <tr class="table-{{task.color}}">
                    <td class="unselectable">{{ task.id }}</td>
                    {% for key,value in task.data %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    <td class="unselectable"><i class="fa fa-lg fw fa-{{ task.icon }}"></i></td>
                    {% if task.status == 'SUCCESS' %}
                        {% for key,value in task.resultParsed %}
                            <td>
                                {% if value is iterable %}
                                <table class="small">
                                    {% for k,v in value %}
                                        <th style="text-align: center; writing-mode: vertical-lr; transform: rotate(180deg);">{{ k }}</th>
                                        <td>
                                            {% if v is iterable %}
                                                {% for k_,v_ in v %}
                                                    {% if v_ is iterable %}{{ v|json_encode(constant('JSON_PRETTY_PRINT')) }}{% endif %}
                                                    <b>{{k_}}:</b>{{v_}}<br>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </table>
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td>{{ task.result }}</td>
                        {% endfor %}
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                    <td class="unselectable"><a href="{{ ea_url()
                                     .setController('App\\Controller\\Admin\\TaskCrudController')
                                     .setAction('result')
                                     .setEntityId(task.id) }}">Details</a></td>
                    {% if task.next %}
                        <td class="unselectable"><i class="fa fa-lg fw fa-{{ task.icon }}"></i></td>
                        {% if task.next.status == 'SUCCESS' %}
                            {% for key,value in task.next.resultParsed %}
                                <td>
                                    {% if value is iterable %}
                                    <table class="small">
                                        {% for k,v in value %}
                                            <th style="text-align: center; writing-mode: vertical-lr; transform: rotate(180deg);">{{ k }}</th>
                                            <td>
                                                {% if v is iterable %}
                                                    {% for k_,v_ in v %}
                                                        {% if v_ is iterable %}{{ v|json_encode(constant('JSON_PRETTY_PRINT')) }}{% endif %}
                                                        <b>{{k_}}:</b>{{v_}}<br>
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </table>
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>{{ task.next.result }}</td>
                            {% endfor %}
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                        <td class="unselectable"><a href="{{ ea_url()
                                         .setController('App\\Controller\\Admin\\TaskCrudController')
                                         .setAction('result')
                                         .setEntityId(task.next.id) }}">Details</a></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}