{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_title %}Result #{{task.id}}{% endblock %}

{% block page_actions %}
    <div class="global-actions">
        <a class="action-edit btn btn-primary" href="{{ ea_url()
                                          .setController('App\\Controller\\Admin\\TaskCrudController')
                                          .setAction('edit')
                                          .setEntityId(task.id) }}" data-action-name="edit">Edit</a>
        <a class="action-new btn btn-primary" href="{{ ea_url()
                                      .setController('App\\Controller\\Admin\\TaskCrudController')
                                      .setAction('process')
                                      .setEntityId(task.id) }}" data-action-name="process">Process</a>
    </div>
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            {% for key,value in task.data %}
                <th>{{ key }}</th>
            {% endfor %}
            <th>Status</th>
            {% for key,value in task.resultParsed %}
                <th>{{ key }}</th>
            {% else %}
                <th>Result</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for key,value in task.data %}
                <td>{{ value }}</td>
            {% endfor %}
            <td><i class="fa fa-lg fw fa-{{ task.icon }}"></i></td>
            {% for key,value in task.resultParsed %}
                <td>
                    {% if value is iterable %}
                    <table class="small">
                        {% for k,v in value %}
                            <th style="text-align: center; writing-mode: vertical-lr; transform: rotate(180deg);">{{ k }}</th>
                            <td>
                                {% if v is iterable %}
                                    {% for k_,v_ in v %}
                                        {% if v_ is iterable %}{{ v|json_encode(constant('JSON_PRETTY_PRINT')) }}{% endif %}
                                        <b>{{k_}}:</b>{{v_}}<br>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </table>
                    {% else %}
                        {{ value|slice(0, 150)  }}
                    {% endif %}
                </td>
            {% else %}
                <td>{{ task.result|slice(0, 150)  }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <br>
    <h4>{{task.action.type}}</h4>

    <table class="table">
        <tr>
            {% for k,v in task.action.configs %}
                <th>{{ k }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for k,v in task.action.configs %}
                <td>
                    {% if v is iterable %}
                        {% for k_,v_ in v %}
                            {% if v_ is iterable %}
                                {{ v|json_encode(constant('JSON_PRETTY_PRINT')) }}
                            {% endif %}
                            <b>{{k_}}:</b>{{v_}}<br>
                        {% endfor %}
                    {% else %}
                        {{ v }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </table>


    <br>
    <h4>Logs</h4>
    <table class="table">
        {% for log in task.logs %}
            <tr><td>{{ log|slice(0) }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}
